:root{

--h2color: #E85A4F;
--dark: #3e3e3e;
--light:#8E8D8A;

}

html, body{

  font-family: "Lucida", serif;
  background-color:#EAE7DC;
  height: 100%;
  margin: 0;
}

h1{
  color: var(--h2color);
}

.container {
  color:#8E8D8A;
  display: grid;
  grid-column: auto;
  grid-template-columns: 20em;
  grid-template-rows: 4em 1fr 2em;
  gap: 10px 10px;
  grid-auto-flow: row;
  justify-content: center;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "header header"
    "side content"
    "side content"
    "side footer";
}

.header { 
  grid-area: header; 
  text-align: center; 
  background-color:var(--dark);
  display: inline-flex;

}

.side { 
  grid-area: side;
  background-color:var(--dark);
  color: var(--light);
}

.content { 
  padding: 100px;
  grid-area: content;
  
}

.footer { 
  grid-area: footer; 

  justify-self: center; 
  align-self: center;
  display: grid;
  grid-template-areas:
  ". . "
  "git linkedin"
  ". . ";
}
.git{
  grid-area: git;
}
.linkedin
{
  grid-area: linkedin;
}

.sideheader{

  font-size: 20pt;
  padding-left:100px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 25px;
  font-weight: bold;
}

.skillssection
{
  padding:100px;
  padding-top: 50px;

}

.skillsheader{

  font-size: 10pt;
  font-weight: bold;
}


